.header-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}
.style-color {
  background-color: rgb(12, 12, 12);
}
a {
  color: #ffffff !important;
}
.logout {
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  color: rgb(145, 142, 142);
}
.logout:hover {
  color: rgb(194, 193, 193);
}
.color {
  color: rgb(127, 255, 161);
}
.username {
  margin-right: 10px;
  color: rgb(145, 142, 142);
}
.username:hover {
  color: rgb(194, 193, 193);
}
